* {margin: 10px; padding: 0; }

header, article { border-bottom: 2px solid #aaa; }

nav { background: #eee; }
ul { list-style: none; margin: 0; }
ul li { margin: 0; display: inline; }
ul li {padding: 0 10px; display: inline-block; }

article p { margin-bottom: 20px; }

footer { text-align: center; }
